<div>
    <div class="col-md-4 col-md-offset-4">


        <h1 style="text-align: center" >Registruj se</h1>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Korisnicko ime</span>
            <input type="text" class="form-control" ng-model="user.username">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Ime</span>
            <input type="text" class="form-control" ng-model="user.name">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Prezime</span>
            <input type="text" class="form-control" ng-model="user.lastName">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon4">Email</span>
            <input class="form-control" ng-model="user.email">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon5">Lozinka</span>
            <input type="password" class="form-control" ng-model="user.password">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon6">Ponovi lozinku</span>
            <input type="password" class="form-control" ng-model="user.rpassword">
        </div>
        <!-- <br>
        <div class="input-group">
    <span  class="input-group-addon" id="basic-addon9">Uloga</span>
    <div class="form-group">
        <select class="form-control" ng-model="selectedRole" ng-options="r for r in roles"></select></div>
</div> -->
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon8">Telefon</span>
            <input class="form-control" ng-model="user.phone">
        </div>
        <br>
        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-primary" type="button" ng-click="signup()">
                Registruj se
            </button>
        </div>



    </div>
</div>