<div>
    <div class="col-md-4 col-md-offset-4">


        <h1 style="text-align: center" >Register</h1>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Username</span>
            <input type="text" class="form-control" ng-model="user.username">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Name</span>
            <input type="text" class="form-control" ng-model="user.name">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Last Name</span>
            <input type="text" class="form-control" ng-model="user.lastName">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon4">Email</span>
            <input class="form-control" ng-model="user.email">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon5">Password</span>
            <input type="password" class="form-control" placeholder="enter password" ng-model="user.password">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon6">Repeat password</span>
            <input type="password" class="form-control" placeholder="enter password" ng-model="user.password">
        </div>
        <br>
        <div class="input-group">
    <span  class="input-group-addon" id="basic-addon9">Uloga</span>
    <div class="form-group">
        <select class="form-control" ng-model="selectedRole" ng-options="r for r in roles"></select></div>
</div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon8">Phone</span>
            <input class="form-control" ng-model="user.phone">
        </div>
        <br>
        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-primary" type="button" ng-click="signup()">
                Sign Up
            </button>
        </div>



    </div>
</div>