<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nova tema</title>
</head>
<body>
<h1 style="text-align: center">Nova tema</h1>

<div class="col-md-4 col-md-offset-4">
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Autor</span>
    <input type="text" class="form-control" placeholder="logged user" ng-model="topic.author" ng-disabled="true">

</div>
<br>
<div class="input-group">
    <span  class="input-group-addon" id="basic-addon4">Tip</span>
    <div class="form-group">
        <select class="form-control" ng-model="selectedTopicType" ng-options="tt for tt in topicTypes" ng-change="changeInTypes()"></select></div>
</div>
<br>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon2">Naslov</span>
    <input type="text" class="form-control" ng-model="topic.name">
</div>
<br>
<div ng-show="showUpload" class="input-group">
    <span class="input-group-addon" id="basic-addon3">Sadrzaj</span>
    		<input type="file" id="file" name="file"/>
		<button ng-click="addImage()">Add</button>
</div>
<div class="input-group" ng-show="showText">
    <span class="input-group-addon" id="basic-addon3">Sadrzaj</span>
    		<textarea type="text" class="form-control" ng-model="topic.content" ng-show="showText"></textarea>
</div>
<br>
<div class="col-md-4 col-md-offset-4">
    <button class="btn btn-primary" type="button" ng-click="addTopic()">
        Dodaj
    </button>
</div>
</div>
</body>
</html>