<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teme</title>
</head>
<body>
<table class="table table-striped">
    <tr>
        <td align="right">Trazi po :</td>
        <td>
            <select class="form-control" ng-model="queryBy">
                <option value="$"></option>
                <option value="name">Naslov</option>
                <option value="content">Sadrzaj</option>
                <option value="author">Autor</option>
                <option value="subforum">Podforum</option>
            </select>
        </td>

        <td align="left">Trazi: </td>
        <td><input class="form-control" ng-model="query[queryBy]" /></td>
    </tr>

</table>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>NAZIV TEME</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="topic in topics | filter:query">
            <td>{{topic.name}}</td>
            <td>
                <button type="submit"
                        ui-sref="topicdetail({subforum:topic.subForum,name:topic.name})"
                        class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-blackboard"></span>&nbsp;<span>VIDI TEMU</span>
                </button>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>